.carousel-item img{
  height: 100%;
  width: 100%;
}

div.carousel-caption{
	position: absolute;
	bottom:40%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
	font-family: 'Coiny', cursive;
	
}

#navigation a {
	font-family: 'Coiny', cursive;
	
	color:gold;
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom:auto;
    margin-top: 1.0rem;
  }
#navigation{
  background: black;
}

.logotext{
	display :inline table;
	margin-left: 36%;
	margin-right: auto;
	width:15%;
	}

.carousel-control-next-icon, .carousel-control-prev-icon
{
  height: 40px;
  width: 40px;
}

.footer-main-div{
	width: 100%;
	height: auto;
	margin: auto;
	background:rgb(68, 14, 14);
	padding: 20px 0px;
}

.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
}

.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height:50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:black;
	font-family: 'Coiny', cursive;
}


.footer-social-icons ul li a{
	color: gold;
	font-size: 25px;
	display: block;
	font-family: 'Coiny', cursive;
}

.footer-social-icons ul li a i{
	line-height: 50px;
}

.footer-menu-one{
	width: 100%;
	height: auto;
	font-family: 'Coiny', cursive;
	
	margin: auto;
	margin-top: 25px;
	padding: 3px;
	text-align: center;
}

.footer-menu-one ul{
	margin: 0px;
	font-family: 'Coiny', cursive;
	padding: 0px;
	text-align: center;
}

.footer-menu-one ul li{
	display: inline-block;
	font-family: 'Coiny', cursive;
	margin: 0px 20px;
}

.footer-menu-one ul li a{
	
	font-size: 20px;
	font-weight: 600;
	color:gold;
	text-transform: uppercase;
	font-family: 'Coiny', cursive;
}

.down{
	color: gold;
	font-family: 'Coiny', cursive;
}

.text-green{
	color: gold;
	font-family: 'Coiny', cursive;
}

.footer-bottom{
	width:100%;
	height: auto;
	font-family: 'Coiny', cursive;
	margin: auto;
	background:#48dbfb;
	padding:5px;
}

.footer-bottom{
	font-family: 'Coiny', cursive;
	font-size: 14px;
	text-align: center;
}
